.hero {
    height: 100vh;
    background-image: url('https://rawcdn.githack.com/BlessingLeslie/TravelPalImages/f3fa5a30650b6390c7e41a26ff7550836e3a6f24/DALL%C2%B7E%202024-06-11%2000.17.43%20-%20A%20highly%20realistic%20airport%20scene%20featuring%20two%20Black%20people.%20One%20person%20is%20sharing%20an%20item%20with%20another%20traveler%20who%20has%20extra%20luggage.%20The%20traveler%20i.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }


  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
  }
  
  .search-box button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  